.mainBlock {
    display: inline-block;
    box-sizing: border-box;
    width: 800px;
    padding: 50px;
    height: auto;
}

.linkA {
    display: flex;
    padding-left: 50px;
}

.forbutton {
    display: flex;
    justify-content: center;
}

.buttonPost {
    width: 90%;
}

.divBlock {
    display: flex;
}

.commentDiv{
    display: inline-block;
    box-sizing: border-box;
    width: 1400px;
    padding: 50px;
    height: auto;
}
.postDiv{
    display: inline-block;
    box-sizing: border-box;
    width: 1800px;
    padding: 50px;
    height: auto;
}
.user{
    display: inline-block;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    width: 200px;
    height: auto;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}